<!-- <h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
    </li>
  <% end %>
</ul> -->

<html>
  <head>
    <title></title>
    <!-- jQuery and Google Maps -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

  </head>
  <body>

    <div id="map" style="width: 500px; height: 400px;"></div>
    
  </body>
</html>
