<html>
  <head>
    <title>AOKs</title>

    <!-- jQuery and Google Maps -->

  </head>
  <body>

    <form class="AOKs" action="index.html" method="post">
      <input type="text" name="helper[message]" placeholder="...message">
      <input type="submit" name="submit" value="Post">
    </form>

    <div id="cards-view">
    </div>

    <div class="sidebar" id="main-sidebar">
      <div class="sidebar" id="my-rank">
      </div>

      <!-- <div class="sidebar" id="map-view"-->
        <!-- user data input form -->
        <div id="search">
        <input id="address" type="textbox" value="Chicago, IL" placeholder=" Search Location">
        <input type="button" value="Enter Address" onclick="codeAddress()">
        </div> -->

        <!-- map -->
        <div id="map" style="width: 500px; height: 400px;"></div>
        <div class="sidebar" id="map"></div>
      </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
  </body>
</html>
